{% extends 'base.html' %}
{% block haeder %}
    <title>admin products</title>
{% endblock %}
{% block body %}

    <table>
        <tr>
            <th>اسم</th>
            <th>توضیحات</th>
            <th>قیمت</th>
            <th>فعال</th>
            <th>ویرایش</th>
        </tr>

        {% for p in products %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>{{ p.price }}</td>
                <td>{{ "yes" if p.active == 1 else "no" }}</td>
                <td><a href="/admin/dashboard/edit-product/{{ p.id }}">ویرایش</a></td>
            </tr>
        {% endfor %}
    </table>

    <form action="#" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="name" placeholder="نام محصول"><br>
        <textarea name="description" placeholder="توضیحات"></textarea><br>
        <input type="number" name="price" placeholder="قیمت محصول"><br>
        <label>فعال:</label><input value="1" type="checkbox" name="active"><br>
        <input type="submit">
    </form>

{% endblock %}