<header>
    <section>
        <a href="/">
            <img src="{{ url_for('static',filename = 'image/logo.png') }}" alt="online tech">
        </a>
        <div id="header-menu">
            <span id="header-menu-close-btn" onclick="javascript:change_header_menu(false)">X</span>

            {% if  request.endpoint.startswith("admin") %}
                <a class="header-link" href="/admin/dashboard">پنل مدیریت</a>
                <a class="header-link" href="/admin/dashboard/products">صفحه محصولات</a>
            {% else %}
                <form action="/" method="get">
                    <input type="search" name="search" value="{{ search if search != None }}" placeholder="جستجو...">
                </form>
                <a class="header-link" href="/cart">سبدخرید</a>
                {% if current_user.is_authenticated %}
                    <a class="header-link" href="/user/dashboard">پنل کاربری</a>
                {% else %}
                    <a class="header-link" href="/user/login">ورود/ثبت نام</a>
                {% endif %}
                <a class="header-link" href="/about">درباره ما</a>
            {% endif %}
        </div>

        <img src="{{ url_for('static',filename = 'theme-image/menu.png') }}" id="header-menu-btn"
             onclick="javascript:change_header_menu(true)">
    </section>
</header>