{% extends 'base.html' %}
{% block haeder %}
    <title>فروشگاه اینترنتی آنلاین تک</title>
{% endblock %}
{% block body %}

    <header>
        <section>
            <img src="{{ url_for('static',filename = 'image/logo.png') }}" alt="online tech">
            <div>
                <a href="#">صفحه اصلی</a>
                <a href="#">محصولات جدید</a>
                <a href="#">درباره ما</a>
                <a href="#">محصولات پرفروش</a>
            </div>
        </section>
    </header>



    <section class="products">
        {% for p in products %}
            <section class="product-box">
                <img src="{{ url_for('static', filename='cover/'+p.id|string+'.jpg') }}">
                <h3>{{ p.name }}</h3>
                <p>{{ p.description|truncate(50) }}
                    <br>
                    <a href="{{ url_for('general.product', id=p.id, name=p.name) }}">توضیحات بیشتر</a>
                </p>
                <div style="float: left;">
                    <a href="/add-to-cart?id={{ p.id }}">افزودن به سبد خرید</a>
                </div>
            </section>
        {% endfor %}
    </section>

{% endblock %}