{% extends 'base.html' %}
{% block haeder %}
    <title>فروشگاه اینترنتی آنلاین تک</title>
{% endblock %}
{% block body %}


    {% include 'part/header.html' %}
    <div id="slideshow">
        <img class="banner" src="{{ url_for('static',filename='image/banner.jpg') }}">
        <a href="http://localhost:5000/?search=%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84">
            <img class="banner" src="{{ url_for('static',filename='image/banner2.jpg') }}">
        </a>
        <a href="http://localhost:5000/?search=%D9%84%D9%BE+%D8%AA%D8%A7%D9%BE">
            <img class="banner" src="{{ url_for('static',filename='image/banner3.jpg') }}">
        </a>
    </div>

    <section class="products">
        {% for p in products %}
            {% include 'part/product.html' %}
        {% endfor %}
    </section>


    <script>

        const slide_show_items = document.getElementsByClassName('banner')
        var next_slide = 0
        const change_slide_show = () => {
            if (next_slide > slide_show_items.length - 1)
                next_slide = 0

            if (next_slide == 0)
                slide_show_items[slide_show_items.length - 1].style.height = "0"
            else
                slide_show_items[next_slide - 1].style.height = "0"

            slide_show_items[next_slide].style.height = '300px'
            next_slide++
        }
        change_slide_show()
        setInterval(change_slide_show, 5000)
    </script>
{% endblock %}