{% extends 'base.html' %}
{% block haeder %}
    <title>محصول {{ product.name }}</title>
{% endblock %}
{% block body %}

    {% include 'part/header.html' %}


    <div class="product-detail-box">
        <div>
            <img class="product-image" src="{{ url_for('static', filename='cover/'+ product.id|string +'.jpg') }}">
        </div>
        <section>
            <h1>{{ product.name }}</h1>
            <h6>شماره محصول: {{ product.id }}</h6>

            <span class="tag red big" style="margin-right: 5px;"><img
                    src="{{ url_for('static',filename="theme-image/delivery.png") }}">{{ myconfig.feature1 }}</span>
            <span class="tag blue big"><img
                    src="{{ url_for('static',filename="theme-image/done.png") }}">{{ myconfig.feature2 }}</span>
            <span class="tag yellow big" style="margin-right: 5px;"><img
                    src="{{ url_for('static',filename="theme-image/wallet.png") }}">{{ myconfig.feature3 }}</span>
            <span class="tag green big"><img
                    src="{{ url_for('static',filename="theme-image/card.png") }}">{{ myconfig.feature4 }}</span>
 <span class="tag orange big"><img
                    src="{{ url_for('static',filename="theme-image/7.png") }}">{{ myconfig.feature5 }}</span>


            <div class="price-box">
                <div class="price">{{ product.price }}</div>
                <a class="add-to-cart-btn2 icon" href="/add-to-cart?id={{ product.id }}"> افزودن به سبد خرید <img
                        src="{{ url_for('static',filename="theme-image/cart.png") }}"></a>
            </div>
        </section>
    </div>



    <article class="product-description-box">
        <h2>مشخصات</h2>
        <p>
            {{ product.description }}
        </p>
    </article>

<section class="similar-products-box">
    <h2>محصولات مشابه</h2>
    <section class="products">
        {% for p in another_products %}
            {% include 'part/product.html' %}
        {% endfor %}
    </section>
</section>
{% endblock %}