{% extends 'base.html' %}
{% block haeder %}
    <title>سبدخرید</title>
{% endblock %}
{% block body %}

    {% include 'part/header.html' %}


    <section class="simple-box cart">
        <h1>سبدخرید</h1>
        {% if cart != None and cart.cart_items|list|length > 0 %}
            <table class="cart">
                <tr>
                    <th>محصول</th>
                    <th>قیمت</th>
                    <th>تعداد</th>
                </tr>
                {% for cart_item in cart.cart_items %}
                    <tr>
                        <td>{{ cart_item.product.name }}</td>
                        <td class="price">{{ cart_item.price }}</td>
                        <td><a class="cartitem-btn cartitem-increase"
                               href="/remove-from-cart?id={{ cart_item.id }}">-</a>{{ cart_item.quantity }}<a
                                class="cartitem-btn cartitem-decrease"
                                href="/add-to-cart?id={{ cart_item.product.id }}">+</a></td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="3" style="text-align: left;"><span class="price">{{ cart.total_price() }}</span></td>
                </tr>
            </table>


            <a class="pay-btn icon" href="/payment"> پرداخت <img
                    src="{{ url_for('static',filename="theme-image/wallet.png") }}"></a>


        {% else %}
            سبد خرید خالی است
        {% endif %}

    </section>


{% endblock %}